name: Pylint

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install pylint pandas sqlalchemy openpyxl streamlit python-dotenv statsmodels

      - name: Run Pylint
        run: |
          pylint --fail-under=7.0 $(git ls-files '*.py')
